div#menu
  div#modules
    a(href='/#/ots') &Oacute;rdenes de Trabajo
    a(href='/#/materials') Materiales
    a(href='/#/clients') Clientes
    a(href='/#/personnel') Personal
    a(href='/#/queries') Consultas

div#options
  div#profile
    h3.inline Conectado como
    a.inline(href='/#/options/profile') #{session.username}
    div#session_user_id.hidden #{session.user_id}
    div#session_username.hidden #{session.username}
    div#session_role_id.hidden #{session.role_id}
    div#session_area_id.hidden #{session.area_id}
  div#submenu
    a#ini_button(href='/') Inicio
    span.separator |
    a(href='/#/crud/person') Panel de Control
    span.separator |
    a#logout_button Salir
